name: Firebase Video Automation

on:
  schedule:
    - cron: "0 */10 * * *"   # every 5 hours
  workflow_dispatch:

jobs:
  process-videos:
    runs-on: ubuntu-latest
    timeout-minutes: 300

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ffmpeg
          pip install firebase-admin requests

      - name: Run automation
        env:
          FIREBASE_MAIN: ${{ secrets.FIREBASE_CREDENTIALS }}
          FIREBASE_LOGS: ${{ secrets.FIREBASE_KEY }}
          BOT_ID: bot2
        run: python main.py
